<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="robots" content="index, follow">
{% if page.title %}
<title>{{ page.title }}</title>
{% else %}
<title>{{ config.title }}</title>
{% endif %}
{% block css %}
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,700;0,14..32,700;1,14..32,400;0,14..32,400&display=block" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=block" rel="stylesheet">
<link rel="stylesheet" href="{{ get_url(path='css/style.css', trailing_slash=false) | safe }}" />
{% endblock css %}
