{% extends "base.html" %} {% block content %}
{% include "socials.html" %}
<main class="home">
	<!-- <h1>{{ section.title }}</h1> -->

	<section class="home introduction">{{ section.content | safe }}</section>

	<section class="blog-list">
		{% for page in section.pages %}
		<section class="blog-item">
			<a href="{{ page.permalink | safe }}" class="home title">{{ page.title }}</a>
			<time datetime="{{ page.date }}" class="home date">{{ page.date | date(format="%Y.%m.%d") }}</time>
		</section>
		{% endfor %}
	</section>
</main>
{% endblock content %}
