{% extends "base.html" %} {% block content %} {% include "nav.html" %}
<div class="page marginalizer">
	<!-- <div class="page margin top"></div> -->
	<!-- <a class="scroller top" href="#top"></a> -->
	<div class="content page">
		<header class="page">
			<a href="..">
				<div class="page title">{{ page.title }}</div>
			</a>
			<div class="page date wrapper">
				<time datetime="{{ page.date }}">{{ page.date | date(format="%Y.%m.%d") }}</time>
			</div>
		</header>
		<main class="page">
			<!-- <div class="reading-time">reading time: {{ page.reading_time }}</div> -->
			{{ page.content | safe }}
		</main>
	</div>
	<!-- <a class="scroller bottom" href="#bottom"></a> -->
	<!-- <div class="page margin bottom"></div> -->
</div>
{% include "nav.html" %}
<footer id="bottom"></footer>
{% endblock content %}