{% extends "base.html" %}

{% block content %}
<main>
  <div class="page-innards">
    <a class="scrolltop" href="#"></a>
    <div class="page-content">
      <a href="..">
        <div class="page-title">{{ page.title }}</div>
      </a>
      <div class="post-date">{{ page.year }}.{{ page.month }}.{{ page.day }}</div>
      <!-- <div class="reading-time">reading time: {{ page.reading_time }}</div> -->
      {{ page.content | safe }}
    </div>
    <a class="scrolltop" href="#"></a>
  </div>
</main>
<footer>
</footer>
{% endblock content %}