<header class="promo-holder">
	<a class="promo" target="_blank" id="bluesky" href="https://bsky.app/profile/axlefublr.bsky.social">Bluesky</a>
	<a class="promo" target="_blank" id="github" href="https://github.com/Axlefublr">Github</a>
	<a class="promo" target="_blank" id="discord" href="https://discord.gg/bgVSg362dK">Discord server</a>
	<a class="promo" target="_blank" id="email" href="mailto:axlefublr.ls@gmail.com">Email</a>
	<a class="promo" target="_blank" id="rss" href="/rss.xml">RSS</a>
</header>
